/****** Object:  Database [TestDB]    Script Date: 09-12-2019 19:24:53 ******/
CREATE DATABASE [TestDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 09-12-2019 19:24:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_trnContactInfo]    Script Date: 09-12-2019 19:24:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_trnContactInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [nvarchar](255) NOT NULL,
	[lastName] [nvarchar](255) NOT NULL DEFAULT (''),
	[Email] [nvarchar](255) NOT NULL DEFAULT (''),
	[PhoneNumber] [nvarchar](255) NOT NULL DEFAULT (''),
	[isActive] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.tb_trnContactInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET IDENTITY_INSERT [dbo].[tb_trnContactInfo] ON 

GO
INSERT [dbo].[tb_trnContactInfo] ([ID], [firstName], [lastName], [Email], [PhoneNumber], [isActive]) VALUES (2, N'Test2', N'Tesr2', N'asd@asd.asd', N'9874537342', 1)
GO
INSERT [dbo].[tb_trnContactInfo] ([ID], [firstName], [lastName], [Email], [PhoneNumber], [isActive]) VALUES (3, N'Test3', N'TestV4', N'asd@sdasd.asd', N'98734574232', 0)
GO
INSERT [dbo].[tb_trnContactInfo] ([ID], [firstName], [lastName], [Email], [PhoneNumber], [isActive]) VALUES (4, N'John', N'K', N'test@asd.com', N'9876587634', 1)
GO
SET IDENTITY_INSERT [dbo].[tb_trnContactInfo] OFF
GO
